# CDK
AWS_REGION=
AWS_ACCOUNT_ID=
ENV=dev
PUBLISHER_ID=your-publisher-id
AGENT_ID=your-agent-id

OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_EMBEDDING_MODEL=
AWS_XRAY_ENABLED=true

# optional for orchestrator agents
AGENT_GATEWAY_TOKEN=
AGENT_GATEWAY_URL=